.header {
  background: #202220;
  padding: 15px 10px;
  font-size: 15pt;
}

.header div h3 {
  text-align: center;
  color: #fff;
}

.header div input {
  font-size: 13pt;
  background: rgb(78, 78, 80);
  color: #fff;
  border: 1px solid #202220;
  border-radius: 5px;
  transition: all 0.5s;
  margin: 4px 0px;
  padding: 10px 5px
}
.header div input {
  border: 1px solid transparent;
}

.header div button {
  cursor: pointer;
  border-radius: 5px;
  font-size: 13pt;
  font-weight: bold;
  padding: 5px;
  background: #fff;
  border: 1px solid #000;
  transition: all 0.5s;
}
.header div button:hover {
  background: rgb(226, 226, 226);
  border: 1px solid transparent;
}

.header div input, button {
  box-shadow: 3px 3px 10px #000;
  width: 100%;
}

.header-container {
  max-width: 600px;
  margin: 0 auto;
}

::-webkit-input-placeholder {
  color: rgb(226, 226, 226);
  font: 15px verdana, arial, sans-serif;
  text-align: center;
}

:-moz-placeholder {
  color: rgb(226, 226, 226);
  font: 15px verdana, arial, sans-serif;
  text-align: center;
}

::-moz-placeholder {
  color: rgb(226, 226, 226);  
  font: 15px verdana, arial, sans-serif;
  text-align: center;
}

:-ms-input-placeholder {  
  color: rgb(226, 226, 226);  
  font: 15px verdana, arial, sans-serif;
  text-align: center;
}
